    <div class="comments-block">
        <h2>Comments block</h2>
        {% if comments_list %}
            {% for comment in comments_list %}
            <div class="comment-item">
                <strong>{{ comment.user.username }}</strong>
                {% if comment.user.id == user.id %}
                    <a href="{% url 'comment_delete' comment_id=comment.id %}">Delete</a>
                {% endif %}
                <span>{{ comment.date_added }}</span>
                <div>
                    {{ comment.body }}
                </div>
            </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'comment_create' post_id=post_id %}" method="POST">
            {% csrf_token %}
            {{ comment_form }}
            <input type="submit" value="Send">
        </form>
    </div>